<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title> Home </title>

		

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.all.js"></script>

<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>

    <style>
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
        background-color: #ECEFF1; 
        padding-top: 60px;
      }

      .wrap {
      flex: 1;
      height: 200vh;
      overflow-y: scroll;
      
      }

    </style>
	
    
</head>




  <body >
      <div class="bs-example">
          <%- include header.ejs %>
      </div>

      </br>
      </br>

<!--customer deteis and 1st grid--------------------> 


    <div class="row-md-*">
     
<!--customer details and 1st grid end point--------------------> 

   <!-- add, post details and 2nd grid--------------------> 
        <!-- Main content -->
    <section class="content">

    <div class="row">
        
        <!-- /.col -->
		<div class="col-md-2">
		</div>
        <div class="col-md-10">

          <nav class="navbar navbar-default" style="background-color: #ECEFF1">
            <div class="container">
              <div class="col-xs-3">
              </div>
                
            </div>
          </nav>

        </div>

    </section>

</div>

</body>
</html>
